.image_size{
   /* width:100%;
  height:600px;
  position: relative; */
  width:100%;
   height: 100%;
}
* {
   background-color: black;
   padding: 0;
   margin: 0;
   color: white;
}
.view-all {
   text-align: right;
   padding-right: 50px;
   
}
.headings{
   padding: 1% 2%;
}
.carousel-indicators {
   z-index: -1;
}
#carousel-image {
   width: auto;
   height: 250px;
   max-height: 250px;
}
.carousel-cell{
   width: 250px;
   height: 100px;
   
}
.sections {
   padding: 50px 0px;
   padding: 10px 0px;
}
img {
   width: 150px;
   height: 100px;
   display: flex
}
ngb-carousel {
   width: inherit;
   height: inherit;
}
.categories{
   padding-left:2% ;
}
